<?xml version="1.0" encoding="UTF-8"?>



<launch>

  
  

  <!-- load the controller configuration on the param server -->


  <rosparam file="$(find ommp_bringup)/config/control/my_robot_control.yaml" command="load"/>
  <rosparam file="$(find ommp_bringup)/config/control/joint_state_controller.yaml" command="load"/>
  <rosparam file="$(find ommp_bringup)/config/control/diff_control.yaml" command="load"/>


  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint_state_controller arm_controller gripper_controller kinect_controller"/>





</launch>
