<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mobile_manipulator_base" >
    <link name="robot_footprint"></link>
    <joint name="robot_footprint_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="robot_footprint"/>
      <child link="chassis" />
    </joint>

    <link name='chassis'>


     <inertial>
       <origin xyz="0 0 0" rpy="0 0 0"/>
       <mass value="100"/>
       <inertia ixx="500"  ixy="0"  ixz="0" iyy="500" iyz="0" izz="500" />
     </inertial>

      <collision name='collision'>
        <origin xyz="0 0 0" rpy=" 0 0 0"/> 
        <geometry>
          <xacro:insert_block name="base_size" />
        </geometry>
      </collision>

      <visual name='chassis_visual'>
        <origin xyz="0 0 0" rpy=" 0 0 0"/>
        <geometry>
          <xacro:insert_block name="base_size" />
        </geometry>
        <material name="green">
          <color rgba="0 1 0 1"/>
        </material>
      </visual>

    </link>

    <link name='upper_base'>


     <inertial>
       <origin xyz="0 0 0" rpy="0 0 0"/>
       <mass value="10"/>
       <inertia ixx="0.01"  ixy="0"  ixz="0" iyy="0.01" iyz="0" izz="0.01" />
     </inertial>

      <collision name='collision'>
        <origin xyz="0 0 0" rpy=" 0 0 0"/> 
        <geometry>
          <xacro:insert_block name="base_size" />
        </geometry>
      </collision>

      <visual name='chassis_visual'>
        <origin xyz="0 0 0" rpy=" 0 0 0"/>
        <geometry>
          <xacro:insert_block name="upper_base_size" />
        </geometry>
        <material name="green">
          <color rgba="0 1 0 1"/>
        </material>
      </visual>

    </link>


    <joint name="upper_base_joint" type="fixed">
      <xacro:insert_block name="upper_base_joint_origin" />
      <parent link="chassis"/>
      <child link="upper_base" />
    </joint>

  </xacro:macro>
</robot>
