<?xml version="1.0"?>
<launch>
  <!-- Scan topic -->
  <arg name="scan_topic" default="scan" />
  <arg name="local_planner" default="base_local_planner/TrajectoryPlannerROS" />
  <!--arg name="local_planner" default="dwa_local_planner/DWAPlannerROS" /-->
  <!--arg name="local_planner" default="teb_local_planner/TebLocalPlannerROS" /-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <!--param name="base_local_planner" value="${local_planner}"/-->
    <param name="base_local_planner" value="$(arg local_planner)"/>
    <!--param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/-->


    <rosparam file="$(find ommp_bringup)/config/navigation/base_global_planner.yaml" command="load"/>
    <rosparam file="$(find ommp_bringup)/config/navigation/base_local_planner.yaml" command="load" />


    <rosparam file="$(find ommp_bringup)/config/navigation/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ommp_bringup)/config/navigation/costmap_common_params.yaml" command="load" ns="local_costmap" />


    <rosparam file="$(find ommp_bringup)/config/navigation/local_costmap_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find ommp_bringup)/config/navigation/global_costmap_params.yaml" command="load" ns="global_costmap"/>
    

    <remap from="cmd_vel" to="/cmd_vel"/>
    <remap from="odom" to="/odom"/>
    <remap from="scan" to="/scan"/>


  </node>


</launch>

